{
    "tabWidth": 4,
    "useTabs": false,
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "semi": true,
                "tabWidth": 2
            }
        },
        {
            "files": "*.yaml",
            "options": {
                "semi": true,
                "tabWidth": 2
            }
        }
    ]
}
